name: Continuous Deployment (Backend)

on: 
    push:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            
            - name: Docker login
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}

            - name: Build and Push
              uses: docker/build-push-action@v6
              with:
                context: .
                file: ./Dockerfile.backend
                push: true
                tags: ${{ secrets.DOCKER_USERNAME }}/paytm-backend:latest
            
            - name: Deploy to VM
              uses: appleboy/ssh-action@v1
              with:
                host: ${{ secrets.EC2_HOST}}
                username: ${{ secrets.EC2_USER}}
                key: ${{ secrets.SSH_KEY }}
                port: 22
                script: |
                    docker stop paytm-backend || true
                    docker rm paytm-backend || true
                    docker run -d -p 3000:3000 --name paytm-backend -e MONGODB_URL=${{ secrets.PROD_MONGODB_URL }} -e JWT_SECRET=${{ secrets.PROD_JWT_SECRET }} ${{ secrets.DOCKER_USERNAME }}/paytm-backend:latest
            